[2017-12-06 21:53] fahadysf opened #1 "List all active orders for all Symbols"
Is there a way to get all active orders for any symbol? Doesn't seem obvious from the KuCoin API docs but the website itself has a page (Assets->Active Orders) which shows all orders. Am I missing something or is this not possible from the API?

[2017-12-07 03:34] sammchardy commented on #1
Hi @fahadysf, the documentation
https://kucoinapidocs.docs.apiary.io/#reference/0/trading/list-active-orders
Shows a required symbol parameter, so it doesn't appear that you can get all active orders without looping through all symbol pairs.
Best option is to contact Kucoin directly and ask them to add the feature.

[2017-12-28 21:44] VVILD opened #2 "Exception UNAUTH: Signature verification failed"
when trying to create buy/sell order i am getting this error.

kucoin.exceptions.KucoinAPIException: KucoinAPIException UNAUTH: Signature verification failed

[2017-12-30 10:21] #1 closed

[2017-12-30 10:22] sammchardy commented on #2
Hi @VVILD does this happen every time you place an order?
Can you give an example of how you're calling the buy/sell order function.

[2018-01-02 09:49] danricho opened #3 "Method for "List dealt orders(merged)""
Hi,
I'm wondering if you have a way of getting all previous fulfilled orders via the API with your library?
I'd like an option without symbol being specified.

From the API:

Cheers,
Dan

[2018-01-02 10:31] sammchardy commented on #3
Hi @danricho I've just released v0.1.1 with updates to the Trading endpoints including a new `get_dealt_orders` function to handle that endpoint.

I need to update my method of watching for API changes as there are some other changes I need to address as well.

Thanks for opening a request.

[2018-01-02 12:54] danricho commented on #3
Sounds great! I will update and try it out soon.
Cheers for the great library.

[2018-01-03 15:05] priyen opened #4 "Api limit"
Hey, is the api rate limit accurate? I don't see it anywhere in the  kucoin official documents. Thanks

[2018-01-03 20:30] danricho commented on #3
I've trialed it and it has been working well, but it stopped last night with the following Exception:

raise KucoinAPIException(response)
kucoin.exceptions.KucoinAPIException: KucoinAPIException : b''

It is only raised using the get_dealt_orders method. Not sure if it's me though.

[2018-01-03 21:08] kefirsutherman opened #5 "cancel_withdrawal() giving a 'Method Not Allowed' error"
Have you been able to use the `cancel_withdrawal()` method successfully? When I run it it gives a me this error:

`kucoin.exceptions.KucoinAPIException: KucoinAPIException : Method Not Allowed`

Also which tx id should be passed as an argument? I'm currently trying to cancel a pending withdrawal and when I view it with `get_withdrawals()` there is a `outerWalletTxid` property and an `oid` property

[2018-01-03 23:21] adnbsr commented on #5
It is not related to this library. There should be something on KuCoin. I have same issue with `DRGN`

[2018-01-06 12:41] sammchardy commented on #4
Hi @priyen, you're right this is no longer correct. I'll update the documentation.

[2018-01-06 12:41] #4 closed

[2018-01-07 15:41] priyen opened #6 "Getting KucoinAPIException UNAUTH: Invalid nonce too much"
Hi, I keep getting the above exception while trying to do recurring balance calls. It happens after a minute or so but It seems really random. Im not sure how to fix it

[2018-01-08 04:26] sammchardy commented on #6
Hi @priyen I can't see any documentation around that issue.

Are you able to give me an example of the code you're using?

[2018-01-08 10:44] danricho commented on #3
I've looked at this further and notice that it only occurs on the get_dealt_orders call and I believe its a 401 error.

Is this an authorisation error?

[2018-01-08 15:33] priyen commented on #6
ending_kucoin_ltc = client_kucoin.get_coin_balance('LTC')['balance']
ending_kucoin_eth = client_kucoin.get_coin_balance('ETH')['balance']

The call works the first time, then keeps getting unauth unless I reinstantiate a new client

[2018-01-08 22:59] sammchardy commented on #6
Hi @priyen from my investigation it seems the Kucoin API response times are inconsistent.

Responses that take longer than 10 seconds return a 504 gateway timeout message that I need to handle properly.
Response that take between 6 and 10 seconds return the UNAUTH: Invalid nonce error.

If the response returns in the less than 6 seconds then it works properly.

So at the moment the only fix may be

[2018-01-08 23:05] sammchardy commented on #3
Hi @danricho I think it may be a 504 gateway timeout error with a message like

b'<html>\r\n<head><title>504 Gateway Time-out</title></head>\r\n<body bgcolor="white">\r\n<center><h1>504 Gateway Time-out</h1></center>\r\n</body>\r\n</html>\r\n'

I will add some handling in for that error.

See also discussion on this issue #6  about inconsistent response times which I think is the major factor. Kuc

[2018-01-08 23:18] danricho commented on #3
I'm definitely getting that error... But others also... I've started logging exceptions. Here are the three types I've seen:

`2018-01-09 07:50:55.670475 : KUCOIN : KucoinAPIException UNAUTH: Invalid nonce`
`2018-01-09 08:38:04.159860 : KUCOIN : KucoinAPIException : b'<html>\r\n<head><title>504 Gateway Time-out</title></head>\r\n<body bgcolor="white">\r\n<center><h1>504 Gateway Time-out</h1></cent

[2018-01-10 22:48] danricho commented on #3
Hi Sam,
I think a lot of these errors are on the KuCoin side.
Not a lot can be done I guess.

I've got another observation now.
The dealt orders available on my account just ticked over 100.
When I attempt to fetch the 101st, I get a None type returned.

My current workaround is to query for dealt orders twice; once for buys and once for sells... which is obviously a temporary solution.

I'm guess

[2018-01-13 02:51] RyanDelap opened #7 "Getting weird results when trying to create buy orders?"
Trying to create a very simple buy on Kucoin
[code]
This would not place the order, and I would get.
[code]
as a response.

Originally I thought the issue had to do with precision size, and I tried accounting for that in both my rate and my amount, which did not work.

However, if I try placing an order on a coin which I can buy a full value of (Don't have funds for a full NEO ATM)
[code]
Everythi

[2018-01-13 06:02] RyanDelap commented on #7
This seems to probably be an issue in my end. I'm not sure.

I also tried withdrawing,

[code]
and I recieve an error like
[code]

[2018-01-14 00:59] #2 closed

[2018-01-14 01:26] sammchardy commented on #7
Hi @RyanDelap running through your examples now.

One thing to note, make sure your quantity and price values are strings, rather than floats.

[2018-01-14 03:16] lacot5 commented on #7
I get None with any buy order with an amount below 1 (0.1, 0.9, 0.99). Anything above 1 is ok.
This happens using str and float as well

[2018-01-14 10:31] sammchardy commented on #7
@RyanDelap this message indicates that you're trying to buy 0.5 NEO at 0.00930911 BTC, which would cost 0.00465456 BTC, however it's saying you actually only have 0.00146454 BTC in your account.

The library wasn't handling this type of error response properly, so I've released v0.1.4 which handles this properly.

[2018-01-14 10:31] #7 closed

[2018-01-14 23:23] RyanDelap commented on #7
@sammchardy
Thank you for the response and update!

Through some trial an error I determined another issue I was having was the precision not being accurate. I'm updating this just incase anyone has this issue in the future.

[2018-01-15 01:17] h3ct0rjs commented on #6
Hi @sammchardy ,
I would like to use this issue to ask about  the exceptions. What is the best way to get the exception failure name, I mean in a proper case we could have UNAUTH, Not found and others exceptions, so how you would catch the name of the exception or the specific point of failure.
For example in the following code we have a try and except block, the idea is to print
the exception nam

[2018-01-15 08:40] sammchardy commented on #6
Hi @h3ct0rjs update your code like this so the exception is set as a variable

[code]

The e variable is then of type KucoinAPIException and that has properties

- code
- message
- response  # requests response object you can get raw response i.e. e.response.text
- status_code
- request  # requests request object

[2018-01-15 21:57] sammchardy commented on #3
Hi @danricho can you give an example of how you're trying to fetch the 101st order.

May need to clarify with the Kucoin devs on how to use the pagination properly.

[2018-01-15 22:04] danricho commented on #3
I am currently using these two lines to avoid the 100 order limit:

`order_list = kucoinAPI.get_dealt_orders(order_type="BUY", limit=100)["datas"]
order_list =  += kucoinAPI.get_dealt_orders(order_type="SELL", limit=100)["datas"]`

I previously was using a first call to get the total orders, then a second to get them all.

Since finding the limit, I have also tried playing with the pagination to n

[2018-01-16 01:40] tcollins590 opened #8 "UNAUTH: Signature Verification Failed"
Thank you for writing this package, it's great.

I am running into an issue when trying to use certain order cancellation functions. Cancel_all_orders alone works well.

I run into issues when adding a symbol parameter to the function (ie. 'NULS-ETH') or when using the cancel_order function.

[code]

[2018-01-16 01:56] sammchardy commented on #8
Hi @tcollins590 just checking are you using the latest version v0.1.6?

[2018-01-16 01:57] tcollins590 commented on #8
Looks like I am using 0.1.6

[2018-01-16 02:00] tcollins590 commented on #8
Also using python 2.7

[2018-01-16 02:32] mcgalvao commented on #8
Same issue here. Btw, thanks for the great work!!

[2018-01-16 02:51] sammchardy commented on #8
It's strange, those calls keep changing their details on me. As far as I can tell I have them implemented how they should be.

https://kucoinapidocs.docs.apiary.io/#reference/0/trading/cancel-orders
https://kucoinapidocs.docs.apiary.io/#reference/0/trading/cancel-all-orders

So just to confirm `cancel_all_orders` works without a symbol. If you check their docs it seems to indicate symbol is requir

[2018-01-16 02:54] tcollins590 commented on #8
Thank you for looking into this.

Yeah when i run `cancel_all_order` alone it works fine. When I add a symbol I get the error.

For `cancel_order` I am passing the 3 arguments `symbol, orderOid, type`. Getting the error with that.

[2018-01-16 03:02] sammchardy commented on #8
Testing it locally `cancel_order` returns Not Found if symbol not passed, and then Signature verification failed once you add symbol in.

They are the only calls that use query string parameters and the signature generation doesn't say what to do with those, I'd say that may be the issue.

Would definitely encourage both of you to email product@kucoin.com about this, see if we can get a resolution

[2018-01-16 11:08] mcgalvao commented on #8
I managed to get the **cancel_all_orders(symbol)** to work. Just had to send the symbol parameter along with the **order_type**. I don't have time to try the other cancel methods right now, but I believe the same fix should work.

My cancel_all_orders method:
`    def cancel_all_orders(self, symbol=None, order_type=None):
        """Cancel all orders

        https://kucoinapidocs.docs.apiary.io/#

[2018-01-17 10:37] sammchardy commented on #8
Ok, I've pushed v0.1.7 to fix the `cancel_order` and `cancel_all_order` functions. Thanks for your help.

[2018-01-17 10:37] #8 closed

[2018-01-17 12:11] ntankovic opened #9 "Signature verification fail for "cancel order""
Method `cancel_order` returns "Signature verification" error from Kucoin. The solution is to move `symbol` parameter from URI query to request body together with `orderOid` and `type`.

[2018-01-18 09:17] arenstar opened #10 "Cancel_Order Fails on PIP 0.1.7"
I recieve on a cancel_order

404
SYMBOL NOT FOUND

so reverted to
0.1.0

[2018-01-20 09:45] sammchardy commented on #9
Hi @ntankovic can you upgrade to the latest version v0.1.8 and try again.

[2018-01-20 09:45] sammchardy commented on #10
Hi @arenstar can you update to v0.1.8 and try again.

If it's still failing can you give an example of how you're calling it.

[2018-01-20 21:53] h3ct0rjs commented on #6
Thank you so much :)

[2018-01-20 22:03] h3ct0rjs commented on #10
What symbol are you tryig to cancel

[2018-01-22 08:12] Djusk8 commented on #10
Have the same problem
Python 3.6
Python-kucoin v0.1.8
PIP 9.0.1 (I'll try v 0.1.0 later)

_ try1_
open_curr2_orders = client.get_active_orders(pair) _#pair = 'CAG-BTC'_
active_buy_order = open_curr2_orders['BUY'][0][5] _# active_buy_order = '5a658ecc36918d53e9ffa00f'_
client.cancel_order(active_buy_order, 'BUY')

**get error**
b'{"timestamp":1516607937246,"status":404,"error":"Not Found","message"

[2018-01-22 08:23] sammchardy commented on #10
@Djusk8 I wasn't sure if the Not Found meant it couldn't find the order_id, if that's not the case then it means the symbol/pair is required and I need to enforce that. So many parameters when just an order_id should be all you need...

In your second example you just pass 'CAG' which is incorrect, it should be your `pair` value of 'CAG-BTC', can you try that.

[2018-01-22 08:48] Djusk8 commented on #10
Yes,
I have 2 different errors:

try1 (w/o symbol/pair) - can't find order_id
try2 (w symbol pair) - can't find SYMBOL

**v3**

                        open_curr2_orders = client.get_active_orders(pair)  # {'SELL': [], 'BUY': [[1516605133000, 'BUY', 5.085e-05, 19.665683, 0.0, '5a658ecc36918d53e9ffa00f']]}
                        active_buy_order = open_curr2_orders['BUY'][0][5]  # '5a658ecc36918d5

[2018-01-22 09:16] Djusk8 commented on #10
Downgrade Python-kucoin to 0.1.7 and try

                        # v2
                        client.cancel_order(active_buy_order, pair, 'BUY')  # pair = "CAG-BTC"

And it's work well

[2018-01-29 02:22] #6 closed

[2018-01-29 17:18] Zuenie opened #11 "Python doesnt recognize the module; ModuleNotFoundError"
I tried to follow the following steps: http://python-kucoin.readthedocs.io/en/latest/overview.html#initialise-the-client . My pip install looks fine. Yet when I run the code I get the error :  "ModuleNotFoundError: No module named 'kucoin.client'; 'kucoin' is not a package"

I am no expert here, sorry if I ask a basic question, but could you help me out getting your module to be recognized by my p

[2018-01-29 21:36] sammchardy commented on #11
Hi @Zuenie make sure your script isn't called kucoin.py or you have a directory named kucoin in the same path as your script. That's usually the issue.

[2018-01-29 21:39] sammchardy commented on #9
Going to close this, reopen if it's a problem again.

[2018-01-29 21:39] #9 closed

[2018-01-30 07:02] Zuenie commented on #11
Yes! Great. Thanks!

[2018-01-30 07:16] #11 closed

[2018-01-30 08:08] ntankovic commented on #9
Thank you, it's OK now!

[2018-02-01 18:28] Chriane opened #12 "KucoinAPIException UNAUTH: Invalid nonce when executing certain commands"
Hello there,

I am receiving a KucoinAPIException whenever I try to execute certain commands; other commands, like `get_languages()` or `get_historical_klines_tv()` work fine.

I created a simple script:

[code]

This returns the following output:
[code]

So the first command is executing fine, but the second one is not...
Anyone can tell me what I am doing incorrectly?

Thanks in advance!

[2018-02-02 19:56] Chriane commented on #12
Fixed the problem; had to set the Timezone to UTC:

[code]

[2018-02-02 19:56] #12 closed

[2018-02-03 03:42] DerekMay opened #14 "Cancel order stopped working: "Signature verification failed""
*Windows 10
*Python 3.6.4
*I tried both python-kucoin v0.1.8 and v0.1.7

The API and the Client library is working for me in everything except any functions for cancelling orders which started failing last night (before that they were working fine as well). The error I keep getting is "Signature verification failed". Also today briefly, for a few hours, the cancel order functions started working a

[2018-02-03 04:25] DerekMay commented on #14
Update: It again started working "by itself".

It works for now, but I wonder what might be the cause of this possibly recurrent issue.

Thanks in advance for any thoughts.

[2018-02-03 16:06] iero opened #15 "No Timestamp"
Dear all

After connection to the API, ```client.get_last_timestamp()``` return None

But other commands are working well.
Any other idea to get the server timestamp ?

[2018-02-03 16:29] DerekMay commented on #15
Timestamp doesn't work for me either. It just stopped working. Also cancel_orders doesn't work for me, or it works off and on.

[2018-02-03 16:35] DerekMay commented on #14
Quite unusual:
This error was happening yesterday 3AM-11AM New York time.
Today exactly the same period, it started 3 AM and lasted until 11 AM, when it "miraculously" recovered.

Wondering if it has something to do with their IT support in China/HK.

[2018-02-03 21:51] sammchardy commented on #14
Hi @DerekMay it does sound like a Kucoin infrastructure issue, it wouldn't be the first time they have had issues.

[2018-02-03 21:53] sammchardy commented on #15
Hi @iero, this may not be completely clear or documented well. When performing requests to Kucoin the responses have a timestamp value in them, this is saved and is returned from `client.get_last_timestamp()`.

So best way to get it would be to call something small like `get_currencies` then follow up with `get_last_timestamp`

[2018-02-04 10:51] iero commented on #15
Thanks for the explanation @sammchardy ! For information, I use your libraries in my project : [https://github.com/iero/Crypto](https://github.com/iero/Crypto)

[2018-02-04 10:51] #15 closed

[2018-02-04 15:23] DerekMay commented on #14
Thanks Sam,

Still not working for me tho...
Can anyone give me an example of a working cancel order?

[2018-02-04 22:49] iero opened #16 "get_coin_balance"
Hello

When I try to use get_coin_balance or get_coin_address, I get a 'missing 1 required positional argument: 'coin'. An idea why ?

Thanks

[code]

[2018-02-05 09:03] iero commented on #16
Sorry, I had a mistake in my code.. it works as expected, thanks !

[2018-02-05 09:03] #16 closed

[2018-02-06 05:42] emfls opened #17 "how to show amount of withdrawal"
i used function of get_withdrawals('KCS')
But it was not show amount
Just i see these results.
{'total': 0, 'firstPage': True, 'lastPage': False, 'datas': [], 'currPageNo': 1, 'limit': 12, 'pageNos': 1}
I couldn't see amount.
I'll be waiting for the reply.
Finally, thank you for writing a good code.

[2018-02-08 07:00] Chingis-Khan opened #18 "For kline functions OHLCV what is the V"
For kline functions OHLCV what is the V represent?

[2018-02-08 08:04] Djusk8 commented on #18
V - Volume

[2018-02-08 09:08] Chingis-Khan commented on #18
VNM, I think it is volume but I am getting a lot of 'None'

[code]

gives a lot of this:
[code]

[2018-02-08 09:08] #18 closed

[2018-02-08 09:11] Chingis-Khan opened #19 "Lots of missing data from Kucoin"
I am getting a lot of None data from kucoin, some times for several minutes, is this a kucoin bug?

[code]

gives a lot of this:
[code]

[2018-02-09 06:43] Chingis-Khan commented on #19
Ok, I think the answer is that the empty data is when nothing it happening on KuCuion due to low volume of trades.

[2018-02-13 08:35] sammchardy commented on #19
Yes I think you're right @Chingis-Khan you would need to filter out the None entries and take that as nothing changed on that pair.

[2018-02-13 08:35] #19 closed

[2018-02-13 08:38] sammchardy commented on #17
Hi @emfls the documentation shows the response format if withdrawals have been made for that coin.

https://python-kucoin.readthedocs.io/en/latest/kucoin.html?highlight=withdr#kucoin.client.Client.get_withdrawals

The response above seems to indicate that no KCS withdrawals have been made from your account.

If that's not the case then I would contact Kucoin support.

[2018-02-13 08:38] #17 closed

[2018-02-14 09:20] emfls commented on #17
Other coins were tested, but the results were the same. Did you try it yourself? If you've tried, can you show me what the results are?

[2018-02-14 10:39] sammchardy commented on #17
Yes I have tested it on my account with BTC, I see a response similar to the one listed in the docs. I haven't made any KCS withdrawals so I can't test with that particular coin.

https://python-kucoin.readthedocs.io/en/latest/kucoin.html?highlight=withdr#kucoin.client.Client.get_withdrawals

[2018-02-14 11:16] MoXyLe opened #21 "Can't use get_total_balance method"
When I am trying to get total balance, I am getting that error
 File "C:\Users\User\Desktop\venv\myvenv\lib\site-packages\kucoin\client.py", line 1003, in get_total_balance
    coins_csl = ','.join([b['coinType'] for b in balances])
  File "C:\Users\User\Desktop\venv\myvenv\lib\site-packages\kucoin\client.py", line 1003, in <listcomp>
    coins_csl = ','.join([b['coinType'] for b in balances])
Typ

[2018-02-15 22:52] daviduartep commented on #14
I didn't have this issue when this bug was opened, but I started having this issue today.

kucoin.exceptions.KucoinAPIException: KucoinAPIException UNAUTH: Signature verification failed

Apparently only cancel order is being affected, I can get balances and historical data with no issues.

[2018-02-15 23:41] DerekMay commented on #14
Hm, interesting.

On Thursday, February 15, 2018, daviduartep <notifications@github.com>
wrote:

[2018-02-28 02:50] dafrizzy opened #22 "Timeout for requests"
I've had an issue with a request for the get_trading_symbols() causing my script to get stuck with no error code or anyway to break the run. I noticed this same behavior with a Bittrex wrapper I was using and changed the request call to include a timeout. I noticed this wrapper does not include the timeout in the request call but the Binance one does. Is there a specific reason for not including t

[2018-03-01 01:17] sammchardy commented on #22
Hi @dafrizzy yes it should have those parameters, it's an oversight. I'll resolve it in the next update.

[2018-03-01 10:31] sammchardy commented on #22
Hi @dafrizzy I've just released v0.1.11 with option to pass requests module parameters on Client initialisation.

By default it has a timeout of 10.

[2018-03-01 10:32] #22 closed

[2018-03-02 05:53] dafrizzy commented on #22
Ah okay. Passing it as a separate parameter in kwargs is definitely a better way to do it than directly defining it in the call. Really appreciate the continuous updates to this, awesome work! Best wrappers out there for Binance and Kucoin.

[2018-03-03 01:57] MarcelBeining opened #23 "client.get_order_details not working"
Unfortunately there are several issues with the  get_order_details method:
1) could not find the method in your documentation
2) From your code comments I extracted that the order id would be optional, but then the API responds "KucoinAPIException : Bad Request - Required String parameter 'orderOid' is not present" , so I guess it is not optional anymore
3) adding the order_id to the input argumen

[2018-03-03 02:56] SnoozeTime commented on #23
Looks like a kucoin server issue. I tried to get order details without the python-kucoin package (just using requests), and here as well I got nothing for return value...

[2018-03-03 09:45] MarcelBeining commented on #23
ok strange, I wrote kucoin. From my experience an answer cannot be expected within the next days...

[2018-03-04 16:12] shovalyechiel commented on #14
when I asked the support they said you can cancel up to 1000 open trades per day Hong Kong time. maybe that's the issue. ? maybe you pass the limit ?

[2018-03-04 17:27] DerekMay commented on #14
Cool, that would explain.

On Sunday, March 4, 2018, shovalyechiel <notifications@github.com> wrote:

[2018-03-04 18:29] CallumHemsley opened #24 "Is there any way to check if a BUY/SELL order partially completed?"
We have get_active_orders() and get_dealt_orders() but if a order is partially filled, how do I know? Does it stay in active orders?

[2018-03-05 06:59] MarcelBeining commented on #23
That's what I received as answer from kucoin
"hi

we don't provide api support ,could you  ask your friends for help. Thank you for your support.

best wishes

bessie"

Sounds like a joke.

[2018-03-05 09:36] SnoozeTime commented on #23
Oh whoa. I'll abstain from trading with Kucoin API for some time anyway.

Today, the cancel endpoint gave me a "System error" so it does not look reliable at all...

[2018-03-06 23:22] poks999 opened #25 "get_recent_orders should actually be get_recent_trades"
get_recent_orders in the python-kucoin library points towards the endpoint

"GET https://api.kucoin.com/v1/open/deal-orders"

deal-orders is actually the trades. (The orders that became deals).

I did some testing and this is true.

I bought 10 PRL and a qty 10 trade for 10PRL appeared. I put out an order for 10PRL at an outrageous price and nothing appeared

here is a screenshot comparing data i

[2018-03-09 09:19] sammchardy commented on #24
Hi @CallumHemsley yes it stays in active orders. And you have two values in the order details "dealtAmout" and "pendingAmount"

dealtAmount - is the amount that has been traded
pendingAmount - is the remainder left to be traded

[2018-03-09 09:19] #24 closed

[2018-03-09 09:25] sammchardy commented on #21
Hi @MoXyLe can you test it again with the latest version, there was a change to an underlying call which has been fixed.

[2018-03-09 09:25] #21 closed

[2018-03-13 17:02] MoXyLe commented on #21
I tested, everything is fine

[2018-03-14 02:52] waifwaif opened #26 "how do you loop this"
nm

[2018-03-14 10:51] #14 closed

[2018-03-14 10:52] sammchardy commented on #25
Yes it probably should be technically. I might add a second function that refers to it, so as not to break any existing scripts...

[2018-03-14 18:17] #26 closed

[2018-03-15 01:05] waifwaif opened #27 "nm"
fixed nm

[2018-03-15 17:48] #27 closed

[2018-03-16 19:01] rkarkicodesDAR commented on #25
Hi @sammchardy and @poks999,

I'm running into a issue. I'm trying to hit " GET https://api.kucoin.com/v1/deal-orders" endpoint but the request returns 404 with message " KucoinAPIException: KucoinAPIException UNAUTH: Login required".

I'm having trouble deciphering this error message. You guys happen to know how to resolve it?

[2018-03-29 09:33] aaasakkura opened #28 "Invalid nonce during 12 hours."
I have this trouble about half day.  With simlple code get_coin_balance or get_active_orders I get a message 'code: ''UNAUTH', msg: 'Invalid nonce', success: ''False", timestamp: '1522315377283'.
I tried 'import os' or synchronized my PC time with web - no good result.
Yesterday this code worked. Please help.

[2018-04-11 22:15] Josi1337 commented on #14
Could someone confirm that limit of 1000 cancels and did you guys get rid of it?

[2018-04-14 16:37] Jinqad opened #29 "Can't withdraw using the API"
[code]
I just used this code will correct API keys and it raises the `kucoin.exceptions.KucoinAPIException: KucoinAPIException : b''`

[2018-04-15 10:47] tollvam opened #30 "Difference between "type" and "direction""
Hello, when i get my orders, i have those two informations, "type" and "direction". They are basically the same everytime, if one is SELL the other one would be also SELL and same for BUY. What is the difference between both ? Thanks !

[2018-04-17 01:55] donglesquare opened #31 "502 Bad Gateway response leads to KucoinAPIException, not KucoinRequestException"
It seems like 502 Bad Gateway response has to raise KucoinRequestException since it is not a valid json format. I wrote a code to print out error code and error message when KucoinAPIException has been raised.

The following is how I handle KucoinAPIException
[code]
And at this time, it raises TypeError remarks that I cannot convert bytes to str implicitly.

[2018-04-27 11:11] primski opened #32 "In get_coin_info the "coin" parameter is now required"
https://kucoinapidocs.docs.apiary.io/#reference/0/market/get-coin-info(open)

Even though the Kucoin documentation does not reflect it yet.

Tried it in their console, throws the "Required String parameter 'coin' is not present" message.

[2018-04-27 11:44] sammchardy commented on #32
Thanks @primski I've fixed this in v0.1.12

[2018-04-27 11:44] #32 closed

[2018-04-30 16:30] sovacar opened #33 "Funds stolen"
Someone made a withdrawal order 1 hour after I installed library and started using it. PC is clean, nothing else on it has ever been touched

[2018-04-30 23:59] sammchardy commented on #33
Hi @sovacar,

Sorry to hear about your issue. This library won't do anything unless you program it to.

The code is right there and you can review it yourself.

I would contact Kucoin support regarding your issue.

[2018-04-30 23:59] #33 closed

[2018-05-01 04:10] djohnson001 commented on #29
I thought it was just me, but it sounds like this is on Kucoin's end. :)

https://news.kucoin.com/en/page/2/
"KuCoin API System and Security Question Login Maintenance
PUBLISHED 2018-04-19
Dear KuCoin Users,

We are performing an API system upgrade. For the time being, users won’t be able to withdraw through the API."

[2018-05-09 16:36] MoXyLe opened #34 "UNAUTH: Invalid nonce"
Since today's morning I just keep getting this errors. For example, when I am trying to cancel order I have got this
Traceback (most recent call last):
  File "test.py", line 23, in <module>
    client.cancel_order(transaction['orderOid'], Client.SIDE_BUY, 'ETH-BTC')
  File "C:\Users\roofu\Desktop\Bot\myvenv\lib\site-packages\kucoin\client.py", line 1313, in cancel_order
    return self._post('can

[2018-05-09 17:41] MoXyLe commented on #34
It fixed by itself somehow

[2018-05-09 17:41] #34 closed

[2018-06-06 01:17] crincones commented on #1
This is an old question, but it is possible, just leave the symbol blank, like this:

https://api.kucoin.com/v1/order/active-map?symbol=

[2018-06-14 23:13] sammchardy commented on #31
Hi @donglesquare

Instead of concatenating strings and other types of variables it can be best to use the str `format()` function, your example above would become

[code]

[2018-06-14 23:13] #31 closed

[2018-06-29 00:29] DerekMay commented on #14
Sam, I was using your Big.one python package, it worked perfectly, but 10
days ago they made some changes to their API, so the package doesn’t work
anymore, not even for simple tasks like querying for account coin balances.

On Wednesday, April 11, 2018, Antonio Majdandzic <antem@bu.edu> wrote:

[2018-06-29 06:02] #29 closed

[2018-06-29 06:03] sammchardy commented on #14
@DerekMay probably best asking over on python-bigone and not a closed python-kucoin ticket :)

You're in luck though, I had updated the bigone package for the new API. You're welcome.

[2018-07-01 14:53] noixez opened #35 "Unable to auth API"
Hey Guys,

My bot has worked for a long time; however, in the past few weeks I haven't used it, ran it again and received an auth error, I've also updated my API key without success.

Anyone have any idea whether there has been an update with the Kucoin API causing issues?

raceback (most recent call last):
  File "Z:\06. Programming Projects\00_02_CryptoBots\python-kucoin-develop\tradingbot.py",

[2018-07-01 17:08] sirspoon commented on #35
I think there's some tickboxes for permissions on kucoin for the keys. My
boy had a similar issue until I enabled all the tickboxes.

On Sun, 1 Jul 2018, 15:53 noixez, <notifications@github.com> wrote:

[2018-07-02 02:36] noixez commented on #35
Interesting, I've ticked everything and changed a few keys now, still no luck, strange! What about IP white list? I had mine set on "No Limit"

I'm so confuised

[2018-07-02 02:41] noixez commented on #35
Feel free to close, what's the issue?

My main .py file declared api_key and api_secret; however, I also included .py forms whereby I also declared the keys which overwrote my original.

Just a new programmer here, sorry guys!

[2018-07-09 08:30] MrClumsy opened #36 "Client Class"
Can we please change the class name of "Client" to "KucoinClient" so that if someone is using your other libraries (like your binance library) in a single python application that the program can differentiate from the two? Otherwise the program terminates with error codes

[2018-07-24 05:57] icehongssii commented on #35
I also have the same issue.
`Traceback (most recent call last):
  File "t1.py", line 12, in <module>
    transaction = client.create_buy_order('KCS-BTC', '0.01', '1000')
  File "/Users/icehongssi/.pyenv/versions/3.6.1/lib/python3.6/site-packages/kucoin/client.py", line 1134, in create_buy_order
    return self.create_order(symbol, self.SIDE_BUY, price, amount)
  File "/Users/icehongssi/.pyenv/vers

[2018-08-08 09:48] sammchardy commented on #36
Hi @MrClumsy you can import and rename at the same time to get around this.

e.g.
[code]

[2018-08-08 09:48] #36 closed

[2018-08-10 13:03] Djusk8 commented on #10
I think i just found the problem! :)

Check your documentation at https://python-kucoin.readthedocs.io/en/latest/trading.html

description:
cancel_order(order_id, **order_type, symbol=None**)

sample:
client.cancel_order(1, **'KCS-BTC', 'BUY'**)

Now it's working well, so I think issue can be closed

[2018-08-10 13:48] h3ct0rjs commented on #10
I've tested that @Djusk8 , it works like a charm.

Thank you

[2018-11-06 07:12] jayarjo commented on #5
@kefirsutherman were you able to figure it out? Specifically the purpose of `outerWalletTxid ` and `oid` fields and what to pass into `cancel_withdrawal()`?

[2019-01-23 10:36] sammchardy commented on #35
Closing because of new API version

[2019-01-23 10:36] #35 closed

[2019-01-23 10:36] sammchardy commented on #30
Closing because of new API version

[2019-01-23 10:36] #30 closed

[2019-01-23 10:36] sammchardy commented on #25
Closing because of new API version

[2019-01-23 10:36] #25 closed

[2019-01-23 10:36] sammchardy commented on #23
Closing because of new API version

[2019-01-23 10:36] #23 closed

[2019-01-23 10:36] sammchardy commented on #10
Closing because of new API version

[2019-01-23 10:36] #10 closed

[2019-01-23 10:36] sammchardy commented on #5
Closing because of new API version

[2019-01-23 10:36] #5 closed

[2019-01-23 10:37] sammchardy commented on #3
Closing because of new API version

[2019-01-23 10:37] #3 closed

[2019-02-02 15:35] nielskool opened #39 "Request. Level 3 MatchEngine"
Hi,

First of all, great library. I've been using it for quite some time now.
The new Kucoin API offers level 3 MatchEngine which I could use very much. So my question is, do you have any plans on implementing this? I might consider looking into your code and try to implement it myself.

source: [https://docs.kucoin.com/#match-execution-data](url)

[2019-02-11 14:53] pryan1check opened #40 "Connection to openapi-v2.kucoin.com timed out"
Is api servers down?

[2019-02-15 12:30] 46martin11 opened #41 "Unable to install version 1.12 when on a Amazon's EC2 instance or when building a docker image"

[2019-02-15 12:37] 46martin11 commented on #41
First of all, thanks a lot for this library, it's been making my life so much easier for the last few months.

I'm having troubles, however, installing the version 1.12 on an AWS EC2 instance. I get the same error when I include this as a requirement for a docker image.  This is the action (first line) and the log (with the error(s) in bold):

$ pip3 install python-kucoin==0.1.12 --force-reinstall

[2019-02-15 13:19] 46martin11 commented on #41
"sudo yum install gcc" finally did it on AWS. Apparently it is running on a slimmer python version by default.

[2019-02-15 13:20] #41 closed

[2019-02-19 13:09] discosultan opened #42 "[V2] Invalid query string param ordering for signature"
As of KuCoin API v2, the query string parameters used in signature generation should be ordered as specified in docs and not alphabetically.

Essentially the `sorted()` function call here is incorrect: https://github.com/sammchardy/python-kucoin/blob/3f98f166cad3096c7e376c9ffb1a2849a55822ea/kucoin/client.py#L99

To reproduce:

[code]

[2019-02-20 16:53] cgunnels opened #43 "KucoinAPIException 400005: Invalid KC-API-SIGN"
I printed out the kwargs right before the request is sent to the exchange. It is missing required keys/values. This is what the kwargs are as of line 156 in client.py:
KWARGS: {'timeout': 10, 'headers': {'KC-API-TIMESTAMP': '11111111111111', 'KC-API-SIGN': b'xxxxxxxxxxxxxxxxxxxxx'}, 'params': {'status': 'SUCCESS', 'startAt': '0', 'limit': 100}}

According to https://docs.kucoin.com/#creating-a-req

[2019-02-20 18:57] cgunnels commented on #43
I believe this might also be due to the fact that a GET request with parameters returns the same error. I'm using their example:

[code]

If I remove the parameters I get a 200 ok response with some content.

[2019-02-20 23:22] inthecolors opened #44 "TypeError: __init__() got an unexpected keyword argument 'sandbox'"
Hi there,
I was using older version and updated my environments due to use new version but I am getting this error for now. I couldn't recognize where is my fault. Also i created new sandbox api.

Error:
TypeError: __init__() got an unexpected keyword argument 'sandbox'

Python v=3.6.6

My codes:

api_key = "my_api_key"
api_secret = "my_api_secret"
api_passphrase = "my_api_passphrase"

from kucoin

[2019-02-22 21:17] sammchardy commented on #42
Thanks @discosultan can you check if this is fixed in v2.0.2

[2019-02-22 21:19] sammchardy commented on #43
Thanks @cgunnels this was related to get request signature generation.
In the `_request` function only the request specific headers are generated. If you look at the `_init_session` function it sets general headers for your session there.

[2019-02-22 21:19] sammchardy commented on #43
Can you check if it is resolved in v2.0.2

[2019-02-22 21:23] sammchardy commented on #39
Hi @nielskool I've started implementing websockets in a separate branch.

I will extend this to a local orderbook implementation for lvl2 and lvl3 market data.

For now if you can test out the [websocket feature branch](https://github.com/sammchardy/python-kucoin/tree/feature/websockets) (note will only work for python3.6+) and requires `websockets` library.

See some short documentation can be fo

[2019-02-22 21:24] sammchardy commented on #44
Hi @inthecolors it seems like you may still be using the old client.

I would try clearing any installed libraries and reinstalling.

[2019-02-23 00:18] cgunnels commented on #43
Thanks! I'm away from my computer, but I will give it a test when I get a moment.

[2019-02-23 17:42] nielskool opened #45 "Missing get all tickers"
The function get_ticker has the optional variable symbol but doenst work when symbol is not set.

[code]

might chance to:??
[code]

source: https://docs.kucoin.com/#get-ticker

[2019-02-23 22:07] avaucher opened #47 "[V2] Incorrect keys to place orders"
Placing orders does not work for me.
There appear to be some inconsistencies between the code and the API docs (https://docs.kucoin.com/#place-a-new-order)

* The endpoint should be `'/api/v1/orders'` but in the code it is currently `'/api/v1/order'`
* The body should contain "clientOid" and "size" instead of "orderOid" and "amount", respectively

However, even when doing these changes locally, I

[2019-02-24 02:03] nielskool commented on #47
Are you sure you used the right keys and passphrase? You didnt swap your sandbox and and normal keys?

[2019-02-24 09:17] avaucher commented on #47
I probably chose a bad issue title: "keys" refers to the Python dict keys for the request body, not for the API key.

A strange thing is that other authenticated endpoints worked fine, f.i. `/api/v1/accounts`.

[2019-02-24 19:32] nielskool commented on #47
Hmm this breaks other stuff for me. I'll be back

[2019-02-24 19:54] avaucher commented on #47
I see. I updated it, this error should not happen again.

[2019-02-24 19:57] nielskool commented on #47
Hmm the one or two before your last fix did work for my cancel orders but get accounts didn't. Now get accounts works but cancel orders not anymore.

[2019-02-24 20:01] avaucher commented on #47
Are you sure? Both work for me now.

[2019-02-24 20:09] avaucher commented on #47
Anyway... Tried another fix, maybe this will do it. Otherwise I'll give up :sweat_smile:

[2019-02-24 20:10] nielskool commented on #47
The last fix now works yea! i changed the cancel all so it accepts the optional symbol

[2019-02-25 00:26] inthecolors commented on #44
Thanks your reply, i fixed it.

[2019-02-25 00:26] #44 closed

[2019-02-25 10:48] discosultan commented on #42
@sammchardy That fixed it for me, thank you!

[2019-02-25 10:48] #42 closed

[2019-02-25 11:15] sammchardy commented on #45
Thanks for your help @nielskool can you check if this is now fixed in v2.1.0

[2019-02-25 11:16] sammchardy commented on #47
Thanks @nielskool and @avaucher v2.1.0 should fix this now.

[2019-02-25 11:17] sammchardy commented on #40
@pryan1check can you check again with v2.1.0 thanks!

[2019-02-25 11:17] sammchardy commented on #39
@nielskool have added websockets to v2.1.0, yet to add in local order book though. That will be next item.

[2019-02-25 18:53] avaucher commented on #47
Works for me, thanks!

[2019-02-26 02:49] Fluuuk commented on #47
Hello, I updated to the latest version but I still can't get **create_limit_order()** to work.
i copied it 100% from the docs and used to get Errorcode:
**404000 Url Not Found -- The request resource could not be found**

now I keep getting Errorcode:
**KucoinAPIException 400004: Invalid KC-API-PASSPHRASE**

**this is my code:**

from kucoin.client import Client
api_key = ""
api_secret = ""
api_pa

[2019-02-26 03:52] sammchardy commented on #47
@Fluuuk this function is a private function so you need to be authenticated. You will need to create an api_key, secret and passphrase to initialise the Client before calling `create_limit_order`

[2019-02-26 10:20] Fluuuk commented on #47
Thx for the quick reply.
Isn't this the part where I initialize my Client and feed it the api_data?

**api_key = ""
api_secret = ""
api_passphrase = ""

client = Client(api_key, api_secret, api_passphrase)**

sorry I don't know how to proceed

[2019-02-26 10:28] Fluuuk commented on #47
I added .__init__ to my code, am I doing this right? getting a whole bunch of new errors now

code:

api_key = ""
api_secret = ""
api_passphrase = ""

client = Client(api_key, api_secret, api_passphrase)
client.__init__(client, api_key, api_secret, api_passphrase)

order = client.create_limit_order('KCS-BTC', Client.SIDE_BUY, '0.000001', '1')

error:
  File "testkucoin.py", line 20, in <module>

[2019-03-01 23:20] tollvam opened #51 "Request : historical orders V1"
Hello Sam,
I saw they added V1 historical orders (https://docs.kucoin.com/#get-v1-historical-orders-list), is it planned to be added in your library ? Thanks !

[2019-03-03 01:05] stanith1 opened #52 "Unable to subscribe to more than 21 orderbooks"
Hi,

I'm currently trying out the latest websockets implementation, it seems that no matter how slowly I try to subscribe to the level2 orderbook streams I always get an exception thrown saying the connection has been closed when trying to subscribe to more than 21 orderbooks.  Has anyone else been able to successfully subscribe to all orderbooks on the exchange using this wrapper?

I get the foll

[2019-03-03 11:34] stanith1 commented on #52
To clarify, I actually get no exception initially (data just stops coming in after subscribing to the 22nd orderbook).  Only when attempting to subscribe to the 23rd orderbook is that exception above thrown.

[2019-03-03 14:29] stanith1 commented on #52
Problem solved, there was an unhandled error in my handle event function that wasn't being shown in the callstack.   One of the topic subscriptions was invalid, if an error is returned the 'topic' and 'subject' fields don't exist in the message and it looks like as follows instead:

`{'code': 404, 'data': 'topic /market/level2:BSV-BTC is not found', 'id': '1551623050668', 'type': 'error'}`

That s

[2019-03-03 14:29] #52 closed

[2019-03-09 22:48] nielskool commented on #45
it is now always at market/allTickers but that is only the case when symbol=None.

so move tick_path = 'market/allTickers' into the if and else:
tick_path = 'market/orderbook/level1'

[2019-03-13 13:15] LeKlex commented on #45
@

@nielskool
I can confirm this.
For a quick fix, i changed the client library to:

[code]

[2019-03-13 15:45] nielskool opened #53 "Websockets variable declaration"
I run python 3.5.2

When I try to use the websocket features it raises an error at:
MAX_RECONNECTS: int = 5

Is there something I need for python to allow for such variable declarations?

[2019-03-15 17:10] suarep opened #54 "client.get_ticker('ETH-BTC') returns all tickers"

[2019-03-15 17:22] nielskool commented on #54
Although not explicitly in the title but this is also discussed in:
https://github.com/sammchardy/python-kucoin/issues/45

[2019-03-15 18:09] #54 closed

[2019-03-19 00:26] dafrizzy opened #55 "Documentation Issue: Limit order returns 'orderId' not 'orderOid'"
Minor issue but the comments for the create_limit_order() function state the function returns "orderOid":

.. code:: python
            order = client.create_limit_order('KCS-BTC', Client.SIDE_BUY, '0.01', '1000')
        :returns: ApiResponse
        .. code:: python
            {
                "orderOid": "596186ad07015679730ffa02"
            }
        :raises: KucoinResponseException, Kucoin

[2019-03-19 08:29] LeKlex commented on #55
They changed the API response, have a look at https://docs.kucoin.com/#place-a-new-order

[2019-03-26 22:31] dafrizzy commented on #55
Yeah that's true it does. They still got rid of "orderOid" though. To be honest, I'm not exactly sure what the difference is between "clientOid", "id", and "orderId" in this new platform for buy/sell/open orders. Open orders seems to return both "clientOid" and "id" while buy and sell limit orders return "orderId". The documentation on their website isn't super clear to me about the differences be

[2019-03-27 07:07] LeKlex commented on #55
The "clientOid" can be set by the client/you (identification of orders in your system), the "id" is given by the KuCoin. You don't need to use the "clientOid", I just go along with KuCoins "id".

[2019-03-27 11:56] MarcelBeining opened #56 "ReconnectingWebsocket is not reconnecting"
Hi there,
I have the issue that the websocket seems to be closed after approx 60 seconds.
I subscribed to a 3 tickers and my callback function informs me when it was not called for at least 15 sec. The first minute everything works fine, but then I do not receive messages anymore from the websocket. When I then run ksm.unsubscribe for my tickers, I get:

[code]

This error does not appear when I u

[2019-03-27 12:46] MarcelBeining commented on #56
According to https://docs.kucoin.com/#ping, it is crucial to send a ping message with an interval < 60 seconds, otherwise the connection gets closed by the server, but in `asyncio/websockets.py` you only send pings when there is already an error, which is too late, I guess.
I did a very rude workaround by adding these lines after https://github.com/sammchardy/python-kucoin/blob/develop/kucoin/asyn

[2019-03-27 15:26] nielskool commented on #56
I will look into it tonight. For me it works fine. It has been running for a week now without problems.

[2019-03-27 16:38] nielskool commented on #56
Do you have this in your code?:
[code]

[2019-04-02 17:31] nielskool opened #57 "Cancel all orders for a certain symbol not working"
client.cancel_all_orders('DATX-BTC') cancels all orders not only the ones from DATX-BTC.

[2019-04-03 01:17] nielskool commented on #57
My workaround for now:
[code]

[2019-04-04 08:35] LeKlex commented on #57
I was already wondering about getting **all** orders canceled... thank you for the workaround!

[2019-04-05 07:27] MarcelBeining commented on #56
tried it on linux and windows, on both machines I get a disconnect after 1 minute if not implementing my workaround

[2019-04-05 07:55] MarcelBeining commented on #56
PS: Guess this is a better solution, considering the recommended 10 sec ping:
[code]

[2019-04-11 10:37] MarcelBeining commented on #56
Seems it was  a bug on my side, sorry for taking your time

[2019-04-11 10:39] MarcelBeining opened #58 "Enhancement: receive private events"
According to 👍
https://docs.kucoin.com/#create-connection
when passing acceptUserMessage="true" during the websocket creation, also private Events are sent like order execution. I did not found this so far in your code, it would be very nice to have that feature.

[2019-04-12 00:15] Full4me commented on #56
Have same problem. Just started testing and after 60 sec stopped to feed data and seeing only:" sleeping to keep loop open".

[2019-04-12 09:10] MarcelBeining commented on #56
actually some issues also still persist on my side, I am not sure if it is fault of kucoin or whats the problem.
@nielskool : One issue I found with your implementation, I think:
What happens if the websocket gets so many updates (because it was subscribed to many topics) such that the `recv` timeout never happens and thus your `send_ping` method is never called? if you do not send a ping, kucoin

[2019-04-12 09:54] MarcelBeining commented on #56
Also it would be good if your class would have an attribute showing when the last pong message was received. right now all messages that do not contain "data" are filtered by your class, so it is not possible to check if pongs are received or not

[2019-04-12 11:31] nielskool commented on #56
@MarcelBeining My code fails randomly sometimes after 6 hours and sometimes after 2 days.
i have about 99 subscriptions.

For now I use the following code in case it lost the connection:
[code]

Small note: I am not the owner of this repository.

[2019-04-12 12:35] MarcelBeining commented on #56
@nielskool thanks for your example. I have a similar implementation but using time of no updates + a subscription where I know there should be an update every 2 sec (market/snapshot) to check if something's wrong

I see, I meant @sammchardy  ^^

[2019-04-12 20:57] Full4me commented on #56
@nielskool Thx for solution.

@MarcelBeining it's good that working, but it's wast of subscripions per minute, if You want to monitor more markets than max 100. Like some prefered ones and rest with rotation every few seconds...You have only 20 subs/min left. Unless you know diffrent easy ways to monitor 200 or 300 markets?

[2019-04-12 22:46] nielskool commented on #56
@Full4me
I monitor about ~250 markets and send them to a database file.
for now this is split over 3 instances which are managed by a manager. I think it is also possible to do this in a single file.

[2019-04-13 01:05] Full4me commented on #56
@nielskool Thx. 4 answer.
So I can make just few instances on one api key from same IP? What with that 100 max subs limit? It's 100 for every instance?
My idea was to make this in threads and manage needed values with lists or dictionaries.

[2019-04-13 20:52] nielskool commented on #56
@Full4me jep you can. I can subscribe to 100 markets per instance at the moment.

[2019-04-16 13:40] MarcelBeining commented on #56
As explained in pull request https://github.com/sammchardy/python-kucoin/pull/59, there is indeed a problem with sending the ping.
@sammchardy Please approve the PR.
The reason you might not have been affected by the issue is that `ReconnectingWebsocket `is automatically reconnecting when the websocket is closed after 1 min, which however means some update messages might become skipped.

[2019-04-16 14:09] nielskool commented on #56
@MarcelBeining You are indeed right, the send_ping is never called.

[2019-04-17 00:31] AndrewFarley commented on #45
This issue is still existing, the patch from LeKlex works, I'm going to submit a pull request so this functionality is no longer broken.  PR incoming...

[2019-04-17 00:40] AndrewFarley commented on #45
It looks like someone else tried to fix it, but missed a line and made the opposite functionality broken (aka, made #54 happen again).  The PR above should fix it, blatantly copied from @LeKlex above, so no credit for me really.

[2019-04-17 09:52] #56 closed

[2019-04-17 10:32] sammchardy commented on #58
Oh yes, you're right.
Adding this to the next version.

[2019-04-17 10:41] sammchardy commented on #51
Yes, will add to next version

[2019-04-20 14:39] Full4me opened #61 "subscribe('/account/balance') not receiving any messages"
I was testing code from readthedocs.io. I subscribed just account balance, and was transfering between main and traiding account and even made few testing trades on one pair. In Kucoin doc there was note, that I should expect msg when: "an account balance changes" and "The message contains the details of the change", but I didn't recive any messages. In  This is bug or I'm doing something wrong?

[2019-04-21 08:51] bsliran commented on #43
@cgunnels  Did you manage to get this to work? i am still struggling on GET requests with params.
same happens for fills etc.

[2019-04-21 14:29] cgunnels commented on #43
@bsliran I believe it's fixed in v2.02+. It was an issue with the libraries signature generation.

[2019-05-18 09:57] yangtangnewton opened #62 "这是什么问题？"
WebSocket connection is closed: code = 1000 (OK), no reason

[2019-06-22 07:11] volkovartem77 commented on #61
The same question

[2019-07-16 17:10] MedAmineOrg commented on #61
hello sam, the same problem i have can u assist us plz ? Thnx

[2019-07-16 17:15] MedAmineOrg commented on #39
hello @sammchardy we are trying to make a trading bot on kucoin, but we get some access limitations because of requests frequency, we tried to use websockets, and we started testing the sample code as given in Doc but the balance doesn't show, can u provide any sort of assistance plz ? Thnx

[2019-07-20 08:37] volkovartem77 commented on #61
You can use this solution https://github.com/volkovartem77/kucoin-websoket-private/blob/master/wsKucoinBalance.py

[2019-07-20 10:23] sammchardy commented on #61
Hi @Full4me, @volkovartem77, @MedAmineOrg
Make sure you initialise the `KucoinSocketManager` with `private=true`
I'll update the docs and add a check for that account balance topic. The functionality is there though.

[code]

[2019-07-20 11:00] sammchardy commented on #53
Hi @nielskool I am removing the typing annotations in v2.1.2 for better backward compatibility

[2019-07-20 11:01] #51 closed

[2019-07-20 11:02] #58 closed

[2019-07-20 11:08] #43 closed

[2019-07-20 11:09] sammchardy commented on #39
Hi @MedAmineOrg if you didn't see the message on the other issue, make sure you're setting `private=True` when creating the `KucoinSocketManager`.

If you're having other issues find me on Telegram @sammchardy

[2019-08-04 15:21] asver12 opened #64 "Errorhandling in websockets"
The example code for websockets stops sending messages after 10-15 minutes, but the loop keeps running. How can I catch the reason for this and react?

[2020-02-04 22:32] jumabora opened #65 "account balance [401 Response]"
hi,
I am trying to create a code in python to get the balance of my account, I use the Example for get balance of accounts in python on the api kucoin page, however when I run my code I get the following error:
{'code': '400004', 'msg': 'Invalid KC-API-PASSPHRASE'}, but I'm sure my API-PASSPHRASE is fine. My code is:

import hmac
import json
import requests
import time
import base64
import hashlib

[2020-02-26 23:07] projenix commented on #51
Hello, was this added yet?

Thanks

[2020-02-26 23:43] projenix opened #66 "get_historical_orders() always returns empty object"
Hello,

I tries using this function with or without additional options and it always returns the following no matter what:

{'totalNum': 0, 'totalPage': 0, 'pageSize': 50, 'currentPage': 1, 'items': []}

Thanks,

[2020-04-01 18:38] #66 closed

[2020-04-03 23:17] garagesteve1155 opened #69 "No Open price on get_24hr_stats()"
Hello. Trying to figure out % change for 24hr. get_24hr_stats() is missing Open price? How do I find this?

[2020-04-27 08:14] lvanchev opened #70 "get_orders() page parameter"
Hello. It appears that client.get_orders() command ignores page= subscript, since (for me, at least) it returns the first page only, regardles of whether I put page=2 or page=1000. Is there currently any way to get around it?

[2020-07-19 16:09] not-gordon opened #71 "get_markets() fails (404: not exist)"
Hi,

I don't usually use Python so please bear with me. I'm trying to use python-kucoin and it fails with the most basic of examples - i.e., the one listed in the "Quickstart" section of the readme :-(

client.get_currencies() works fine (with my Kucoin sandbox credentials), but when calling client.get_markets(), it bombs:

Traceback (most recent call last):
  File "kucoin-trader.py", line 15, in

[2020-08-04 02:33] ppkantorski opened #72 "Question: Confusion on Volume on KuCoin API"
Trading websites like https://www.tradingview.com/chart/?symbol=BITSTAMP%3ABTCUSD for BTC-USD display volume as integers ranging from typically 0 to 200.  However, the kucoin API returns volume as a transaction quantity.  I am really confused about how integer volumes are derived..  For instance, say the volume or transaction quantity is 4316.25117053.  Now TradingView shows 24 as the volume.  It

[2020-08-20 03:20] 1bazinga25 opened #73 "Version control"
hi, i noticed a problem when installing python-kucoin by pip, i'm using it in manjaro-linux and need to specify the version.

if you don’t specify the version it downloads the old one and it’s wrong to start the api, it says that the api is an old version.

a simple problem but I find it interesting to warn.

because when new users download directly with ~ $ pip install python-kucoin it will not d

[2020-08-21 05:14] datacryptoanalytics commented on #73
thanks for posting my question

[2020-08-30 16:44] Full4me opened #74 "Reconnect after internet connection break"
After internet connection break it's showing only "sleeping to keep loop open" and not connecting anymore.

[2020-09-05 18:16] Full4me opened #75 "Why every pair from websocket stream have diffrent date?"
Sorry. My bad. There is no problem. 'Sequence' is not a 'time.'

[2020-09-05 20:07] Full4me commented on #74
I solvet it by using 'if' condition. When have no data with last n seconds I'm making new client.

[2020-09-05 20:50] #75 closed

[2020-09-28 12:21] Full4me commented on #70
same problem

[2020-09-28 12:29] Full4me commented on #70
@Ivanchev

I found the way. You can use limit of orders insted. Like limit=500.

[2020-09-28 12:30] Full4me commented on #70
@lvanchev

U can use limit orders insted like limit=500.

[2021-01-12 13:13] Tomas-MP opened #76 "Not possible to download more than 1500 historical klines"
In the python-binance module, it is possible to get the whole historical dataset by using the klines function, unfortunately this package is limited to 1500 datapoints. Is it possible to generate an additional loop (in line with the python-binance module) where the start to end data can be extracted?

This would make this package a lot more suitable for backtesting.

[2021-02-18 20:44] Full4me commented on #57
Anyone know why this method not working?

[2021-02-26 15:29] psychoMLM opened #77 "No Margin trade support?"
I searched documentation and there is no mentions on margin trades.

[2021-03-08 17:28] BenGroll opened #78 "Is there support for Stop-Market-Orders?"
I wanted to use this to create a sort of moving Stop-Loss while I cannot access my computer for trading,
but I cannot find information on how to create a Order to only sell if price goes under a certain margin.
I dont want to cancel the order at any price, just want to sell if I get a specific price or lower.
Thanks!

[2021-04-06 16:02] IanFLee opened #79 "get_kline_data always returns candles from 1970 even with correct unix date parameters given"
`klines = client.get_kline_data(self.coin, kline_type=self.interval, start=1613096100)`

this should return data starting feb 11 of 2021, but i'm always getting unix 0 dates (jan 19, 1970)

is anyone else having this problem or understand why i'm getting this issue?

also, the python-binance wrapper converts timestamps from strings like "1 week ago UTC" and I love it. it would be great if we could

[2021-04-11 17:40] laradave commented on #79
Are you dividing by 1000? You shouldn't

[2021-04-11 20:34] IanFLee commented on #79
No, I'm not dividing by 1000. My code looks like this:

[code]

[2021-04-12 13:55] laradave commented on #79
What does y show if you print it out? That's exactly how I do it to get to a python datetime type, and it's exactly as it should be. Is something going wrong with z?

[2021-04-12 21:43] SamuelDauzon opened #80 "Is python-kucoin compatible with 2.0 API key system ?"
Hi,

As you can see in this page (https://docs.kucoin.com/#introduction), Kucoin is updating his authentication system.

Is python-kucoin compatible with this new system ?

Thanks

[2021-04-13 08:32] Th0rgal opened #81 "KucoinAPIException 400003: KC-API-KEY not exists"
Hello there,

My program was working fine with sandbox but when I replaced Sandbox=True by Sandbox=False and used my api key, I kept getting this error:
KucoinAPIException 400003: KC-API-KEY not exists

Did I do something wrong?

Sincerely,
Thomas

[2021-04-17 11:02] CamilleValley opened #82 "Question regarding the handling of the price protection mechanism"
Hi folks,

I read in the api documentation that Kucoin has a so called "price protection mechanism":
https://docs.kucoin.com/#place-a-new-order

The documentation states "causing the order to fail." but later on states that a market could be partially filled when the mechanism is triggered.

Do you has experience with it? Like is the market order fully marked as failed?
Do you have any tips on how

[2021-04-19 16:59] IanFLee commented on #79
I'm not sure what the issue is here. My code block didn't change but now I'm getting correct values. Closing this issue.

[2021-04-19 16:59] #79 closed

[2021-04-30 01:27] jrc1883 opened #83 "Does this still work?"
Is this still working? Seems like it does not work anymore.

[2021-05-01 05:01] sammchardy commented on #80
Yes this is compatible with the V2 API Keys

[2021-05-01 12:07] kitt-th commented on #83
same Q.
get_symbols() returns just 8 trading pairs
KCS-USDT
ETH-USDT
BTC-USDT
ETH-BTC
BTC3L-USDT
BTC3S-USDT
ETH3L-USDT
ETH3S-USDT

[2021-05-01 12:52] sammchardy commented on #83
@kitt-th That's true if you are interacting with the sandbox.

Otherwise you will see all trading pairs.

API Keys are also specific to the sandbox or the main site.

[2021-05-01 14:41] kitt-th commented on #83
Thanks, I didn't notice that sandbox is set to True by default.

[2021-05-12 04:08] ffbboy30 commented on #83
I've just created a API key and I get this on client.get_markets() order :
['USDS', 'BTC', 'KCS', 'ALTS', 'DeFi', 'NFT', 'Polkadot', 'ETF']
On my client init sandbox is false
client = Client(api_key, api_secret, api_passphrase, sandbox=False)

Any idea
Thanks

[2021-05-14 14:53] udaya2899 opened #84 "get_total_balance API is deprecated? How to implement equivalent in latest version"
I have a test account where some assets are staked in Pool-X, while some assets are available in the Trading account.
I am in need of a `get_total_balance("INR")` equivalent which I think is deprecated now?

If yes, how to implement an equivalent in the latest version of the library?

[2021-05-19 01:21] EQNish opened #85 "Needs Updating"
looks like this needs to be updated for the current KuCoin API... any chance of this?

[2021-05-23 18:03] kehrli commented on #77
You can make margin trades by copying his procedure, calling his _post method and changing the endpoint.
Example:
Copy his create_market_order procedure in full.  At the bottom he calls:
return self._post('orders', True, data=data)
change your procedure to read
return <client_object>._post('margin/order', True, data=data)

Notice that the only difference is the endpoint.  They work the same.  I've

[2021-05-23 18:09] kehrli opened #86 "Iceberg Order Bug"
When creating an iceberg order, the visible_size paramter in the api is bool type.  It needs to be a str(float).

[2021-05-24 13:39] psychoMLM commented on #77
How would i state level of margin like a 4x margin?

[2021-05-24 14:51] kehrli commented on #77
Actually, I didn't confront borrowing or repaying via the api.  I borrowed and repaid through the KuCoin web interface.  I just used python-kucoin to buy and sell with funds already in the margin account.  I think there is a way to buy, with "auto-borrow", but you would have to do the calculations for 4x margin yourself.

In general, it's pretty easy to make calls to kucoin's api by copying the pr

[2021-06-02 13:24] Th0rgal opened #87 "How to get at what price was executed my market order?"
Hello,

When I perform a market order using: ``client.create_market_order`` I get a json which contains my orderId. How can I find at what price it was performed or what amount of tokens I bought?

I tried :
print(client.get_fills(order_id))

But I only got:
``{'currentPage': 1, 'pageSize': 50, 'totalNum': 0, 'totalPage': 0, 'items': []}``

[2021-06-06 09:01] maxbot1-bot opened #89 "Private webscoket connection never connects"
hi,

I try to run the following bit of code

client = Client(api_key, api_secret, api_passphrase, is_sandbox=True)
ksm_private = await KucoinSocketManager.create(loop, client, handle_evt, private=True)
# Account balance - must be authenticated
await ksm_private.subscribe('/account/balance')
while True:
        print("sleeping to keep loop open")
        await asyncio.sleep(20, loop=loop)

The code

[2021-06-07 12:10] knoghax opened #90 "Level 3 websocket data no longer available?"
I tried to run the code you have for the websockets while subscribing only to the '/market/level3:BTC-USDT' data, but it seems like this produces no output.

Also, just checked Kucoin's API documentation and couldn't find anything related to subscribing to level3 data (although I remember well that there used to be a section with info on the level3 data).

Is it possible that they have erased this

[2021-08-14 00:42] haydenquale opened #91 "Did i install wrong?"
I'm on mac and ran 'pip3 install python-kucoin', but im having trouble accessing the package now. just to make sure im getting data properly, im trying to print the klines for btc-usdt.

`from kucoin.client import Client

BASE_URL = 'https://api.kucoin.com'

client = Client(url = BASE_URL)

bars = client.get_kline_data('BTC-USDT', '1min')
print(bars)`

but the error i get when im running this is '

[2021-08-14 00:46] #91 closed

[2021-08-20 13:57] hdsouza commented on #84
Hey, Where you able to get the script to work correctly to get the balance?  I am having the same issue

[2021-08-22 04:53] srsgi commented on #89
+1 having the same issue. Have you found any solution?

[2021-08-22 05:41] srsgi commented on #89
This is working fine when i removed ip restrictions from my api key. Have to look into why that is probably an error from my side. But yes I tested and this feature is working fine with api v2

[2021-08-26 04:06] jhogg11 opened #92 "Threaded websockets similar to Binance library?"
Is there anything that would prevent replicating the `ThreadedWebsocketManager` class from the Binance library for Kucoin?  I'm only interested in using the kline socket and it seems that most of the code in the `streams.py` file are for specific socket types, so a lot could be eliminated for my purposes.

However, I'm not too knowledgable about sockets (and new to async in Python) and just want t

[2021-09-15 14:02] Trung202 opened #93 "no module named 'kucoin.client'; 'kucoin' is not a package"

[2021-09-19 15:46] ali203 opened #94 "HOW TO SET STOP_MARKET ORDER"
witch parameter we use to set stop_market order : create_limit_order(symbol, side, price, size, client_oid=None, remark=None, time_in_force=None, stop=None, stop_price=None, stp=None, cancel_after=None, post_only=None, hidden=None, iceberg=None, visible_size=None)

there's no parameter named type

thank you :)

[2021-10-03 15:11] kewlfft opened #96 "typo introduced in latest commit"
https://github.com/sammchardy/python-kucoin/blob/d7ba653f4a0c34b5952bf6beb7e552bb0044f661/kucoin/client.py#L1413

[2021-10-04 03:37] sammchardy commented on #96
Thanks @kewlfft this has been resolved

[2021-11-06 12:34] MohammadrezaMirzaei commented on #22
Hi. thanks for your useful package. I have a problem with timeout and sometimes it requests and stays in that state until I restart my code. I wanna to know how can I pass timeout for different functions such as new orders or checking orders.

[2021-11-06 12:54] saeedkh11 commented on #93
maybe your python code name is kucoin change your code name

[2021-11-09 02:35] Sanko777 opened #101 "What are the STP options :"self trade protection CN, CO, CB or DC""
I could not find what the 4 letter combinations are anywhere.
"self trade protection CN, CO, CB or DC"
(seams pretty important if i want to submit both buy and sell orders to make sure sure my orders don't cancel each other out or sell/buy from/to myself if that's what its meant to prevent)
stp=_____
CN -
CO -
CB -
DC -

[2021-11-09 02:46] Sanko777 commented on #101
Found It:
Self-Trade Prevention is an option in advanced settings.It is not selected by default.
If you specify STP when placing orders, your order won't be matched by another one which is also yours.
On the contrary, if STP is not specified in advanced, your order can be matched by another one of your own orders.
 It should be noted that only the taker's protection strategy is effective.
DECREMEN

[2021-11-09 02:46] #101 closed

[2021-11-21 13:57] btschwertfeger opened #102 "No subscriptions after socket ReconnectingWebsocket._reconnect"
Every time the ws connection closes and the socket tries to reconnect, I don't get a message because the subscriptions need to be updated as well by adding these lines into ReconnectingWebsocket.send_message function:

[code]

and adding

[code]

into the
[code]
block.

[2021-11-27 16:14] SyntaxJO commented on #94
Yes, I am also having trouble with this one. The only thing I can do is place a limit order, but this ties up my funds and other stop possibilities. Would love a solution to this.

[2021-11-27 16:28] SyntaxJO opened #104 "STOP_MARKET_ORDER in create_limit_order or create_market_order? And how to use?"
I am trying to figure out ORDER_MARKET_STOP (or ORDER_LIMIT_STOP), but I'm not sure if I'm supposed to use in the the create_market_order or in the create_limit_order with a stop option.

I have vigorously tried with both to no success. I figure it would work in create_limit_order, I add STOP_LOSS, it asks for stop_price

I am stuck with limit orders which earmark my funds for each order and make

[2021-11-27 16:46] ali203 commented on #94
sorry bro I still don't know , maybe you can make it manually(code) like me
if condition True then sell market
good luck 😃

On Sat, Nov 27, 2021, 17:14 SyntaxJO ***@***.***> wrote:

[2021-12-12 13:12] beatrunnerforspotify opened #105 "client.get_orders() does not get stop orders"
If I call client.get_orders(trade_type='MARGIN_TRADE'), or even client.get_orders(trade_type='MARGIN_TRADE', order_type='limit_stop'), the stop limit orders (active or complete) are not returned.

[2021-12-15 17:16] InfectedIsm opened #106 "Readme example comment typo for Websocket part"
Hi,
first of all thank you  for your code, it is a precious help.

It seems to me that :

- "BTC Symbol snapshots" should be "BTC Market snapshot"
- "KCS-BTC Market snapshots" should be "KCS-BTC Symbol snapshots"

as per Kucoin documentation here : https://docs.kucoin.com/#symbol-snapshot

[code]

[2021-12-18 01:15] Ocma opened #107 "Could we bring the the "Subject" object from the Websocket Ticker Response?"
Hi there! First of all, thanks a lot for all your work. Without your libraries I doubt I would have been able to immerse myself in dealing with Binance or Kucoin APIs.

I do have a question about the Websocket. When I subscribe to get **all** the symbols `('/market/ticker:all')`  the response does only contain the **"data"** object, so it does not say to what pair does it relate to.

Is there any

[2022-01-02 04:32] jejebelfort opened #108 "Can't receive any data from websocket - Only "sleeping to keep loop open""
Hello,

When using the sample code in the wiki:
https://python-kucoin.readthedocs.io/en/latest/websockets.html

I keep on getting "sleeping to keep loop open" while in debug mode (I am using PyCharm).

Digging into the code, I also realized that at this stage of the code (`res['instanceServers'][0]['endpoint']`):
https://github.com/sammchardy/python-kucoin/blob/develop/kucoin/client.py#L183

the e

[2022-01-08 10:39] john-robert opened #109 "get_ticker timestamps incorrect?"
Every 5 seconds I retrieve the ticker of HNT-USDT. It seems the times returned from the request are off and also jump back and forth. Here is the code:

[code]

The code results in an output like so:

As can be seen, the "time of now" behaves as expected (increasxing by 5 seconds each), however, the ticker times jump back and forth for which I have no explanation. For assets with high volatility (

[2022-01-14 19:16] adrotitanique opened #110 "Missing Chains information"
https://github.com/sammchardy/python-kucoin/blob/6245e0a2a1bec59d02a5ca26917380bd9d852ce0/kucoin/client.py#L819

Need to specify the withdrawing chains

[2022-01-17 19:50] glenn-boudaer1990 opened #111 "Receiving kline data for certain interval, always happens every minute and not every interval"
I am using both the python-binance and python-kucoin code to receive kline data from both exchanges using Websockets. However, I noticed that ever minute I receive data that a new kline has been opened, even when I change the interval to 3m/3min or 5m/5min etc...

How is this possible? Is this a bug or should this be solved differently so I only receive data when a kline has opened at every inteva

[2022-01-17 20:06] #111 closed

[2022-02-21 15:36] pb360 commented on #108
also having this issue, if you figured it out please report back

[2022-02-21 15:38] pb360 commented on #93
where is the script?
you may need to do

[code]

[2022-02-21 17:39] gayjer commented on #108
@pb360 Unfortunately no, this is quite sad...

[2022-02-21 17:49] pb360 commented on #108
@gayjer @jejebelfort
i found this https://github.com/Kucoin/kucoin-python-sdk which seems to be pretty similar from kucoin themselves. i got it working no problem

[2022-02-22 08:42] jejebelfort commented on #108
@pb360 Thanks, will give it a try!

[2022-03-31 19:10] gh-user-source commented on #93
I am having this issue too using pycharm. Pip installed python-kucoin successfully.

[2022-04-02 02:39] gh-user-source commented on #93
This was the issue for me, I named the file 'kucoin.py', gets me every time.

[2022-04-02 02:43] gh-user-source opened #113 "get_accounts() returns all accounts twice"
I have not idea what to edit but when I run get_accounts it returns all account info 2 times even when I run get_account('ID').

[2022-04-11 01:51] rootx-dev opened #114 "orderbooks"
Hi.
Great work,
Just wondering is there any way to have entire market order books at once?
what I meant by entire market is that all coins/tokens exist on Kucoin

Best,

[2022-05-30 17:26] BaseMax opened #115 "KucoinAPIException 400003: KC-API-KEY not exists"
[code]

![image](https://user-images.githubusercontent.com/2658040/171038230-5f2cd386-3843-4430-8f08-8bd5f5f8c6ef.png)

#### Error

[code]

Why it's not possible to open a new order?

Thank you for any kind of help in advance.

[2022-05-31 16:04] Tigzy opened #116 "Websocket market/ticker only received once"
Hello,
I have a problem for which I'm not sure this is a bug.
I used the example to subscribe to a ticker, and I receive the proper data, however it's sent only once.
I never receive any other message after the first one. Here's my code:

[code]

[2022-05-31 16:14] Tigzy commented on #116
Ok, I realized I'm receiving this error (silently ignored) :
`<class 'tuple'>: ("object bool can't be used in 'await' expression",)`
websockets, line 75

[2022-05-31 16:21] #116 closed, assigned to nobody

[2022-06-25 19:05] A-R-P commented on #115
Delete your API-KEY, and create agian

besides, for the following command:
order = client.create_market_order('KCS', Client.SIDE_BUY, size=5)

i think you should define pair of KCS, for example:
order = client.create_market_order('KCS-USDT', Client.SIDE_BUY, size=5)

[2022-06-25 19:07] A-R-P opened #117 "Futures"
Is there any library for futures trading ?

[2022-06-26 14:20] hammerjoe opened #118 "<coroutine object Client.get_kline_data at 0x00000111C02ADE40>"
I am trying to get a 1hour Kline for a token and I cant get it to work.

from kucoin.client import Client as kucoin_client
kucoin_api_key = '6cccc1f'
kucoin_api_secret = '96912bcccc47b'
kucoin_api_passphrase = 'Voccccccc!'

kucoin_client = kucoin_client(kucoin_api_key, kucoin_api_secret, kucoin_api_passphrase)
                symbol = 'ETH-BTC'
                interval = '1hour'
                x

[2022-06-27 13:01] alikarimi999 commented on #81
It's really wierd but in this line https://github.com/Kucoin/kucoin-go-sdk/blob/e73c9142a3d2247f4e98e6e92eb5d10b9e5145c5/api.go#L185
after calling  `request.Header.Set(k, v)` all header keys with KC-* change to Kc-*.

[2022-07-09 08:48] A-R-P commented on #118
I think your problem is in the following line:

kucoin_client = kucoin_client(kucoin_api_key, kucoin_api_secret, kucoin_api_passphrase)

try one of them:
1.
from kucoin.client import Client
kucoin_client = Client(kucoin_api_key, kucoin_api_secret, kucoin_api_passphrase)

2.

client = kucoin_client(kucoin_api_key, kucoin_api_secret, kucoin_api_passphrase)

[2022-07-09 12:32] hammerjoe commented on #118
I was able to solve it.
The call requires a start date and a end date. The docs make it seem its not mandatory.

def date_to_seconds(date_str):
    """Convert UTC date to seconds

    If using offset strings add "UTC" to date string e.g. "now UTC", "11 hours ago UTC"

    See dateparse docs for formats http://dateparser.readthedocs.io/en/latest/

    :param date_str: date in readable format, i.e.

[2022-07-15 11:56] hammerjoe opened #119 "Get_Symbols() fail"
def get_symbols(self):

        return self._get('symbols', False)

Theres an error with the get_symbols call. It doesnt take the optional parameter to get the data for one token and it errors out with "too many parameters given.
As per the docs :

GET /api/v1/symbols

PARAMETERS
Param	Type	Description
market	String	[Optional] The trading market.

[2022-07-30 17:22] KingIthra commented on #81
Same issue here too, even tried to create a new API Key, still not working, any suggestions?

[2022-08-19 15:41] rhubear25 commented on #119
Seems like this lib is a disaster... basics don't work.   Example below.... get_ticker & allTickers CODE MIXED.
(I've taken out the comments from the lib, so that the Proc is easier to read).

get_ticker Proc:  accesses 'market/allTickers' API path.
There doesn't seem to be an allTickers Proc.
Not gonna bother posting separately, seems this lib is not maintained.

    def get_ticker(self, symbol=N

[2022-09-16 08:40] pr0logas opened #120 "Missing Isolated Margin borrow calls"
https://docs.kucoin.com/#isolated-margin-borrowing

Currently only cross margin borrow calls are supported which is default method by Kucoin:

[code]

[2022-09-24 20:27] LPROJECTOFICIAl opened #121 "Kuc"